<h1>Listing listings</h1>

<table>
  <tr>
    <th>Priority</th>
    <th>Zip</th>
    <th>Address</th>
    <th>City</th>
<!--
    <th>State</th>
-->
    <th>Price</th>
    <th>Zprice</th>
<!--
    <th>Beds</th>
    <th>Baths</th>
-->
    <th>Lot size</th>
    <th>Home size</th>
    <th>Sold price</th>
    <th>Date sold</th>
<!--
    <th>Sale type</th>
    <th>Listing</th>
    <th>Times listed</th>
-->
    <th>Market time</th>
    <th>Contact</th>
<!--
    <th>Contacted</th>
-->
    <th>Viewed</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listings.each do |listing| %>
  <tr>
    <td><%= listing.priority %></td>
    <td><%= listing.zip %></td>
    <td><%= listing.address %></td>
    <td><%= listing.city %></td>
<!--
    <td>< % = listing.state % ></td>
-->
    <td>$&nbsp;<%=  number_with_delimiter(listing.price, :delimiter => ',') %></td>
    <td>$&nbsp;<%=  number_with_delimiter(listing.zprice, :delimiter => ',') %></td>
<!--
    <td>< % = listing.beds % ></td>
    <td>< % = listing.baths % ></td>
-->
    <td align="center"><%=  number_with_delimiter(listing.lot_size, :delimiter => ',') %></td>
    <td align="center"><%=  number_with_delimiter(listing.home_size, :delimiter => ',') %></td>
    <td align="center">$ <%= number_with_delimiter(listing.sold_price, :delimiter => ',') %></td>
    <td><%= listing.date_sold %></td>
<!--
    <td>< % = listing.sale_type % ></td>
    <td>< % = listing.listing % ></td>
    <td>< % = listing.times_listed % ></td>
    <td align="center">< % = listing.market_time % ></td>
-->
    <% days = ((Date.today - listing.created_at.to_date) + listing.market_time) %>
    <td align="center"><%= days.to_i %></td>
    <td><%= listing.contact %></td>
<!--
    <td><%= listing.contacted %></td>

<td>< % = check_box_tag :contacted , 1 , listing.contacted ? false :
true % ></td>
    <td>< % = listing.viewed % ></td>
-->

    <td><%= check_box_tag :viewed , 1 , listing.viewed ? true : false %>
<!--
    <td>< % = listing.notes % ></td>
-->
    <td><%= link_to 'Show', listing %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
    <td><%= link_to 'Destroy', listing, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listing', new_listing_path %>
