<p id="notice"><%= notice %></p>

<p>
  <b>Priority:</b>
  <%= @listing.priority %>
</p>

<p>
  <b>Zip:</b>
  <%= @listing.zip %>
</p>

<p>
  <b>Address:</b>
  <%= @listing.address %>
</p>

<p>
  <b>City:</b>
  <%= @listing.city %>
</p>

<p>
  <b>State:</b>
  <%= @listing.state %>
</p>

<p>
  <b>Price:</b>
  <%= @listing.price %>
</p>

<p>
  <b>Zprice:</b>
  <%= @listing.zprice %>
</p>

<p>
  <b>Beds:</b>
  <%= @listing.beds %>
</p>

<p>
  <b>Baths:</b>
  <%= @listing.baths %>
</p>

<p>
  <b>Lot size:</b>
  <%= @listing.lot_size %>
</p>

<p>
  <b>Home size:</b>
  <%= @listing.home_size %>
</p>

<p>
  <b>Sold price:</b>
  <%= @listing.sold_price %>
</p>

<p>
  <b>Date sold:</b>
  <%= @listing.date_sold %>
</p>

<p>
  <b>Sale type:</b>
  <%= @listing.sale_type %>
</p>

<p>
  <b>Listing:</b>
  <%= @listing.listing %>
</p>

<p>
  <b>Times listed:</b>
  <%= @listing.times_listed %>
</p>

<p>
  <b>Market time:</b>
  <%= @listing.market_time %>
</p>

<p>
  <b>Contact:</b>
  <%= @listing.contact %>
</p>

<p>
  <b>Contacted:</b>
  <%= @listing.contacted %>
</p>

<p>
  <b>Viewed:</b>
  <%= @listing.viewed %>
</p>

<p>
  <b>Notes:</b>
  <%= @listing.notes %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
